<form action="/dosen/destroy/<%= dosen.id %>" method="POST" id="form-del" class="form-bayuz">
	<h2 class="form-signin-heading">Hapus Data Dosen</h2>

	<div class="form-group">
	<label for="txtnip">NIP</label>
	<input type="text" class="form-control" value="<%= dosen.nip %>" name="nip" id="txtnip" maxlength=18 readonly=''>
	</div>

	<div class="form-group">
	<label for="txtnama">Nama</label>
	<input type="text" class="form-control" value="<%= dosen.nama %>" name="nama" id="txtnama" maxlength=45 readonly=''>
	</div>

	<div class="form-group">
	<label for="txtpasswd">Password</label>
	<input type="password" class="form-control" placeholder="Masukkan Password" name="password" id="txtpasswd" >
	</div>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Hapus"/>
</form>
