<form action="/mhs/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Tambah Data Mahasiswa</h2>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="NRP Mahasiswa" name="nrp" maxlength=10>
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Nama Mahasiswa" name="nama" maxlength=30>
	</div>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Tambah"/>
</form>
