<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Laporan - Mahasiswa</strong></h3>
		</div>
		<div class="panel-body">

		</div>
	</div>
</div><!--/container-->

