<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Selamat Datang</strong></h3>
		</div>
		<div class="panel-body">
			<strong>Sistem Informasi Manajemen Akademik</strong></br>
			Terdiri Atas Beberapa Modul Yaitu :</br>
			1. Modul Manajemen Data Mahasiswa</br>
			2. Modul Manajemen Data Dosen</br>
			3. Modul Manajemen Data Matakuliah</br>
			4. Modul Manajemen Data Akademik</br>
			5. Modul Manajemen Data FRS</br>
			6. Modul Laporan Data Mahasiswa</br>
		</div>
	</div>
</div><!--/container-->

